.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10rem;
  }
  .atul {
    background-color: magenta;
  }
  body {
    background-color: aliceblue;
  }
  .app .count {
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    margin-left: 10rem;
  }
  .app .count h2 {
    color: green;
    line-height: 8.6rem;
    margin-right: 1rem;
  }
  .app .count h1 {
    color: maroon;
    font-size: 5em;
    margin-top: 2rem;
  }
  .app .buttons button {
    width: 10rem;
    height: 10rem;
    border: none;
    background-color: firebrick;
    margin: 0 2rem;
    font-size: 3em;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, 0.02),
      0 8px 64px 0 rgba(10, 14, 29, 0.08);
    cursor: pointer;
  }
  .app .buttons button:hover {
    font-size: 7em;
  }
  .app .buttons button:focus {
    outline: 0;
  }
  